@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@500&family=Seymour+One&family=Spectral+SC:wght@500;800&display=swap');
@font-face {
	font-family: 'AvenirNextCyr-Medium';
	src: url('../fonts/avenirnextcyr-medium.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/avenirnextcyr-medium.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/avenirnextcyr-medium.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/avenirnextcyr-medium.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/avenirnextcyr-medium.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/avenirnextcyr-medium.svg#avenirnextcyr-medium') format('svg'); /* Chrome < 4, Legacy iOS */
}

body {
  margin: 0;
}

.page {
  flex-flow: column;
  height: 100vh;
  margin: 0 auto;
  max-width: 1500px;
  
}

.page-body {
  display: flex;
  height: 100%;
  background-color: antiquewhite;
}

.sidebar {
  /* width: 14%; */
  flex-grow: 1.4;
  flex-shrink: 1;
  background-color: #222222;
  display: flex;
  flex-direction: column;
  gap: 4%;
  align-items: center;
  
}
.main {
  flex-grow: 8.6;
  flex-shrink: 2;
  background: rgba(255, 250, 250, 0.80);}

.icon {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1vh;
  margin-bottom: 6vh;
}

.menu-button {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.settings-button {
  width: 100%;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  float: left;
  padding: 5% 9%;
  font-size:1vw;
  border-radius: 2%;
  width: 90%;
  background-color: #555;
  color: #fff;
  border: none;
  cursor: pointer;
  font-family: 'AvenirNextCyr-Medium', serif;
}

button:hover {
  background-color: #292828;
}

.sidebar img {
  padding: 2%;
  width: 100%;
}

.row-article-container img{
  filter: brightness(75%);
}

.page-footer {
  height: 7%;
  background-color: rgb(28, 27, 27);
}


.article-title{
  position: absolute;
  bottom: 5%;
  left: 5%;
  font-family: 'AvenirNextCyr-Medium', serif;
  color: white;
  font-size: 2vh;
}
.article-topic{
  position: absolute;
  top: 5%;
  left: 5%;
  font-family: 'AvenirNextCyr-Medium', serif;
  color: white;
  font-size: 1vw;
}
.article-resource{
  position: absolute;
  top: 5%;
  right: 5%;
  font-family: 'AvenirNextCyr-Medium', serif;
  color: white;
  font-size: 1vw;
}
.main-content{
  margin-left: 4%;
  margin-right: 4%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6%;
  background: rgba(255, 250, 250, 0.80);
}
.row-article-container{
  display: flex;
  gap: 1vw;
  height: 35%;
  width: 100%;
}
.big-article-container{
  height: 100%;
  position: relative;
  flex: 2;
}
.small-article-containers{
  flex: 2;
  display: flex;
  flex-direction: column;
  
  height: 100%;
  
  gap: 1.5vh;
}
.small-article{
  position: relative;
  height: 50%;
  width: 100%;
  overflow: hidden;
}

.big-article-container img {
  
  max-height: 100%;
  
}
.small-article-containers img {
  object-fit: cover;
  object-position: 0% 20%;
  width: 100%;
  height: 100%;
  
}

.search-bar {
  width: 100%;

  height: 6vh;
  margin-top: 4vh;
  display: flex;
  flex-direction: column;
  align-items:end;
}
.search-bar img{
  width: 50%;
  height: 100%;
}