@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@500&family=Seymour+One&family=Spectral+SC:wght@500;800&display=swap');
@font-face {
	font-family: 'AvenirNextCyr-Medium';
	src: url('../fonts/avenirnextcyr-medium.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/avenirnextcyr-medium.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/avenirnextcyr-medium.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/avenirnextcyr-medium.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/avenirnextcyr-medium.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/avenirnextcyr-medium.svg#avenirnextcyr-medium') format('svg'); /* Chrome < 4, Legacy iOS */
}

body {
  margin: 0;
}

.page {
  flex-flow: column;
  height: 100vh;
  margin: 0 auto;
  background-color: aqua;
  max-width: 1500px;
  ;
}

.page-body {
  display: flex;
  height: 93%;
  background-color: antiquewhite;
}

.sidebar {
  width: 14%;
  /* flex-grow: 2; */
  background-color: #222222;
  display: flex;
  flex-direction: column;
  gap: 4%;
  align-items: center;

}

.icon {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-button {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  float: left;
  padding: 5% 9%;
  font-size:1.52vw;
  border-radius: 2%;
  width: 90%;
  background-color: #555;
  color: #fff;
  border: none;
  cursor: pointer;
  font-family: 'AvenirNextCyr-Medium', serif;
}

button:hover {
  background-color: #292828;
}

.sidebar img {
  padding: 2%;
  width: 90%;
  margin-bottom: 3%;
}


.main {
  /* flex-grow: 8; */
  width: 86%;
  background: rgba(255, 250, 250, 0.80);}

.page-footer {
  height: 7%;
  background-color: rgb(28, 27, 27);
}


.article-title{
  position: absolute;
  bottom: 8px;
  left: 16px;
  font-family: 'Spectral SC', serif;
  color: black;
  font-size: 26px;
  font-size: 1vw;
}
.article-topic{
  position: absolute;
  top: 18px;
  left: 16px;
  font-family: 'Seymour One', sans-serif;
  color: white;
  font-size: 20px;
  font-size: 1vw;
}
.main-content{
  margin-left: 10vw;
  margin-right: 20vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4vh;
  background: rgba(255, 250, 250, 0.80);
}
.row-article-container{
  display: flex;
  gap: 2vw;
  height: 35%;
}
.left-article-container{
  height: 100%;
  position: relative;
  flex: 2;
  background-color: aqua;
}
.right-article-containers{
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  
  gap: 1.5vh;
}
.right-article{
  position: relative;
  height: 50%;
  overflow: hidden;
  background-color: yellow;
}

.left-article-container img {

  max-height: 100%;
  
}
.right-article-containers img {
  width: 10px;
  height: 10px;
  
}

.search-bar {
  width: 60%;
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search-bar img{
  padding: 1%;
  width: 100%;
  margin-bottom: 3%;
}